.loginSingup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #fce3fe;
    padding: 50px 0px;
}

.link {
    text-decoration: none;
}

.loginSingup-container {
    width: 580px;
    height: 600px;
    background: white;
    padding: 38px 60px 0px 50px;
}

.loginSingup-container h1 {
    margin: 20px 0px;
}

.loginSingup-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.loginSingup-fields input {
    height: 52px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    border-radius: 5px;
    color: #5c5c5c;
    font-style: 18px;
}

.loginSingup-container button {
    width: 580px;
    height: 72px;
    color: white;
    background-color: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.loginSignup-login {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.loginSignup-login span {
    color: #ff4141;
    font-weight: 600;
}

.loginSingup-agree {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.loginSingup-agree input {
    cursor: pointer;
}

@media screen and (max-width:750px) {
    .loginSingup-container {
        width: 60%;
    }


    .loginSingup-container button {
        width: 100%;
        border-radius: 10px;
    }
}

@media screen and (max-width:450px) {
    .loginSingup-fields input {
        height: 37px;
        padding-left: 14px;
    }

    .loginSingup-container button {
        height: 48px;
    }

    .loginSingup-agree p {
        font-size: 11px;
    }

    .loginSignup-login {
        font-size: 14px;
    }
}