.navbar {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: 0;
    box-sizing: 0 1px 3px -2px black;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-logo p {
    color: #171717;
    font-size: 38px;
    font-weight: 600;
    cursor: pointer;
     font-family: "Zalando Sans", sans-serif;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    background: #ff4141;
}

.nav-login-cart button {
    border-radius: 10px;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
    margin: 0px 10px;
}

.nav-login-cart button {
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
    margin: 0px 20px;
   font-family: "Zalando Sans", sans-serif;
}

.nav-login-cart button:active {
    background: #f3f3f3;
}


.nav-cart-count {
    width: 19px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-left: 80px;
    border-radius: 25px;
    font-size: 12px;
    background: red;
    position: absolute;
    color: white;
}

.red {
    background: red;
}

.nav-right {
    display: flex;
    justify-content: space-around;
    width: 70%;
    gap: 50px;
}

.sidebar {
    display: none;
}

.sidenav-menu {
    display: none;
}

.cardicon {
    position: relative;
    left: -69px;
}

.cardicon img {
    margin: 0px;
    position: relative;
    left: 46px;
}

@media screen and (max-width: 920px) {
    .navbar {
        padding: 5px;
    }

    .nav-logo {
        gap: 5px;
    }

    .nav-logo img {
        width: 40px;
    }

    .nav-logo p {
        font-size: 30px;
    }

    .nav-menu {
        gap: 25px;
    }

    .nav-login-cart button {
        height: 55px;
        width: 129px;
        margin: 7px;
    }

    .nav-right {
        gap: 10px;
    }

    .sidenav-menu {
        position: absolute;
        background-color: #222;
        width: 100%;
        height: 500vh;
        left: -200px;
    }

    .sidenav-menu li {
        list-style: none;
        margin: 20px;
        font-size: 25px;
    }

    .sidenav-menu.open {
        display: inline-block;
        z-index: 1;
        left: 0;
        right: 20px;
    }

    .close {
        position: absolute;
        font-size: 28px;
        color: rgb(255, 0, 0);
        right: 15px;
        font-weight: 600;
        top: 5px;
    }
}

@media screen and (max-width: 670px) {
    .navbar {
        position: relative;
    }

    .nav-logo {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 20px;
    }

    .nav-logo img {
        width: 35px;
    }

    .nav-logo p {
        font-size: 22px;
    }

    .nav-right {
        display: flex;
    }

    .nav-login-cart {
        margin-left: 10px;
        gap: 10px;
    }

    .nav-login-cart button {
        height: 40px;
        width: 90px;
        margin-right: 30px;
    }

    .nav-login-cart img {
        width: 40px;
    }

    .cardicon {
        display: flex;
        align-items: center;
    }

    .nav-menu {
        display: none;
    }

    .sidebar {
        display: flex;
        align-self: center;
        width: 45px;
        height: 45px;
        left: 8px;
        margin: 10px;
    }

    .nav-cart-count {
        width: 18px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -33px;
        margin-left: 77px;
        border-radius: 25px;
        font-size: 12px;
        background: red;
        position: absolute;
        color: white;
    }
}

@media screen and (max-width:410px) {
    .sidebar {
        width: 44px;
        height: 36px;
        margin: 5px;
    }

    .nav-logo img {
        width: 30px;
    }

    .nav-logo p {
        font-size: 18px;
    }

    .nav-logo{
        margin-left: 0px;
    }

    .nav-login-cart button {
        height: 34px;
        width: 83px;
        margin-right: 20px;
    }

    .cardicon {
        position: relative;
        left: -53px;
    }

    .nav-login-cart img {
        width: 35px;
    }

    .nav-cart-count {
        margin-top: -33px;
        margin-left: 73px;
        font-size: 8px;
    }
}