.hero {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    /* width: 100vw; */
    background: linear-gradient(180deg, #fde1ff 60%);
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.hero-left h2 {
    color: #090909;
    font-style: 26px;
    font-weight: 600;
}

.hero-left p {
    color: #171717;
    font-style: 1000;
    font-weight: 700;
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img {
    width: 105px;
}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-style: 22px;
    font-weight: 500;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1100px) {
    .hero {
        height: 45vh;
    }

    .hero-left {
        gap: 10px;
    }

    .hero-latest-btn {
        width: 200px;
    }

    .hero-right img {
        width: 28vw;
    }

    .hand-hand-icon img {
        width: 125px;
    }

    .hero-latest-btn {
        margin-top: 15px;
        height: 60px;
    }

    .hero-left h2 {
        font-size: 21px;
    }
}

@media screen and (max-width:800px) {
    .hero {
        height: 36vh;
    }

    .hero-left {
        padding-left: 80px;
    }

    .hand-hand-icon img {
        width: 102px;
    }

    .hero-latest-btn {
        margin-top: 12px;
        height: 46px;
    }

    .hero-left h2 {
        font-size: 17px;
    }

    .hand-hand-icon p {
        font-size: 15px;
    }

    .hero-right img {
        width: 32vw;
    }
}

@media screen and (max-width:600px) {
    .hero {
        height: 28vh;
    }

    .hero-right img {
        width: 30vw;
    }

    .hero-left {
        padding-left: 65px;
    }

    .hero-left h2 {
        margin-top: 5px;
        font-size: 12px;
    }

    .hero-latest-btn {
        width: 130px;
        height: 28px;
    }

    .hand-hand-icon p {
        font-size: 12px;
    }

    .hand-hand-icon img {
        width: 36px;
    }

    .hero-latest-btn div {
        font-size: 9px;
    }

    .hero-latest-btn img {
        width: 20px;
    }

    .hand-hand-icon p{
        font-size: 12px;
    }
}