.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90vh;
}

.popular h1 {
  color: #171717;
  font-style: 50px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 10px;
   font-family: "Zalando Sans", sans-serif;
}

.popular hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}

.popular-item {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

.slider-container {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 30%;
  /* show 1 item per slide */
  margin-right: 37px;
  display: flex;
  justify-content: center;
  /* border: 5px solid red; */
}

.prev,
.next {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  padding: 10px;
  border-radius: 50%;
  user-select: none;
  z-index: 2;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

@media screen and (max-width:550px) {
  .popular{
    height: 80vh;
  }
  .slide {
    min-width: 100%;
  }

  .popular h1 {
    font-size: 25px;
    margin-top: 21px;
  }

  .popular hr {
    width: 194px;
    height: 2px;
  }
}